body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cccccc;
}
canvas{
    border: 1px solid black;
}
button{
    width: 100px;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}